body{
  margin: 0;
}

.skewed-appbar {
  position: relative;
  background-color: #fff; /* Set your desired background color */
  transform: skewY(-4deg); /* Adjust the angle of the skew as needed */
  transform-origin: top left;
  overflow: hidden;
  padding: 20px; /* Adjust the padding as needed */
}

.straight-text {
  transform: skewY(4deg); /* Apply the inverse skew */
  transform-origin: top left;
}

.centered-text {
  padding-top: 20%;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-size: 50px;
}
